#main-banner {
  background-image: url("../../assets/banner.jpg");
  background-position: 0 -250px;
  background-size: cover;
  width: 50vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}