#acai-form {
    width: 50vw;
    height: 85vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--purple-800);
  }

#acai-form h1 {
  align-self: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--yellow-400);
  width: 100%;
}

.title {
 color: var(--purple-100);
}

.input-container input  {
  margin-left: 25px;
}

.input-container label {
  margin-left: 3px;
  color: var(--purple-800);
  font-weight: bold;
}

.checkboxContainer {
  width: 200px;
  margin-bottom: 10px;
}

.checkboxContainer label {
  margin-left: 10px;
}

.buttonForm {
  background-color: var(--purple-100);
  border: none;
  width: 40%;
  height: 50px;
  align-self: center;
 line-height: 0;
  padding: 20px;
  border-radius: 12px;
  color: var(--white);
  font-size: 16px;
}





